#about-content {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about-content a {
    color: navy;
    text-decoration: underline;
    font-weight: bold;
}

#about-logo {
    height: 15vh;
}

.about-banner {
    width: 100%;
    margin: 5vh auto;
    text-align: center;
}

.about-team {
    width: 100%;
    margin: 5vh auto;
    align-items:center;
    text-align: center;
}

#parallax-1 {
    background-image: url("../assets/bill.jpg");
    height: 75vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}