@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

#home-nav {
    margin-top: 1.5%;
}

footer {
    overflow: hidden;
    width: 100%;
    height: 18vh;
    background-color: #36618f;
    margin-top: 15vh;
    left: 0;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2vh 0;
}

#footer-content {
    height: 100%;
    font-family: 'Lora', serif;
    color: white;
    size: 1em;
    text-align: right;
    padding: 0 3vw;
    /*width: 50%;*/
    display: inline-block;
    color: white;
}

#footer-content h1 a {
    color: white;
    size: 1em;
}

#footer-content a:hover {
    text-decoration: line-through;
}

#logo {
    display: inline-block;
    font-family: 'Lora', serif;
    color: white;
    size: 2em;
    padding: 0 3vw;
    width: 50%;
}

#logo {
    height: 1.5em;
    width: auto;
    margin: 0;
}