#results {
    display: flex;
    flex-flow: row wrap;
}

.resultCard {
    width: 100%;
    margin: auto;
}

.resultCard a {
    color: #36618f;
}

.resultCard img {
    width: 15em;
    height: 18em;
    object-fit: cover;
    object-position: center center;
}

.search{
    position: relative;
    font-size: 200%;
    left: 5%;
}

.pdf{
    position: absolute;
    left: 90%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.image{
    position: relative;
    width: 15em;
    height: 100%;
    text-align: center;
    justify-content: flex-start;
    font-size: 100%;
    
}

.party{
    position: absolute;
    width: 400px;
    height: 56px;
    font-size: calc(1.0rem + 1vw);
    color:black;
    margin-left:50%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    top:10%;
}
.name{
    position: absolute;
    text-align: center;
    justify-content:space-around ;
    font-size: 200%;
    left: 19%;
    width: 25%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    bottom: 75%;
    
}
.secondname{
    font-size: calc(1.2rem + 1vw);
    position: absolute;
    text-align: center;
    justify-content: center;
    right: 35%;
    top: 30%;
    width: 50%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.phone{
    position: absolute;
    width: 350px;
    height: 82px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: calc(1.2rem + 1vw);
    line-height: 56px;
    left: 21%;
    bottom: 25%;
    color: #000000; 
}


.link{
    position: absolute;
    width: 40%;
    height: 56px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: calc(1.2rem + 1vw);
    line-height: 56px;
    left: 40%;
    bottom: 33%;
    color: #000000;
}

.website{
    position: absolute;
    justify-content: flex-end;
    width: 3%;
    height: 40%;
    right: 5%;
    bottom: 18%;
    transform: scale(3);
  
}
@media only screen and (max-width: 1366px) {
    .search{
        position: relative;
        font-size: 100%;
    }
    .pdf{
        position: absolute;
        left: 75%;
        width: 25%;
    }
    .image{
        position: -webkit-sticky;
        width: 20%;
        left: -2%;
        height: 100%;
        text-align: center;
        justify-content: flex-start;
        font-size: 30%;     
    }
    .name{
        position: -webkit-sticky;
        text-align: center;
        justify-content:space-around ;
        font-size: 10%;
        left: 9%;
        width: 50%;  
        top:15%;
    }
    .party{
        position: -webkit-sticky;
        width: 35%; 
        font-size: 30%;
        color:black;
        left: -1%;
        top:14%;
    }
    .secondname{
        font-size: 30%;
        position: -webkit-sticky;
        text-align: center;
        justify-content: center;
        left: 18%;
        top: 30%;
        width: 40%;
       
    }

    .phone{
        position: -webkit-sticky;
        width: 30%;
        height: 50%;
        font-size: 30%;
        line-height: 150%;
        left: 28%;
        bottom:-5%;
        color: #000000; 
    }
    
    .link{
    position: -webkit-sticky;
    width: 42%;
    height: 30%;
    font-size: 5%;
    line-height: 150%;
    left: 56%;
    bottom: 15%;
    color: #000000;
    }
    .website{
        position: absolute      ;
        justify-content: flex-end;
        width: 15%;
        height: 80%;
        left: 85%;
        bottom: 9%;
        transform: scale(1);
    }
  }

  @media only screen and (max-width: 560px) {
    .pdf{
        position: absolute;
        left: 65%;
        width: 35%;
    }
    .name{
        position: -webkit-sticky;
        text-align: center;
        justify-content:space-around ;
        font-size: 10%;
        left: 17%;
        width: 50%;  
        top:15%;
    }
    .secondname{
        font-size: calc(0.5rem + 0.5vw);
        position: -webkit-sticky;
        text-align: center;
        justify-content: center;
        left: 18%;
        top: 30%;
        width: 70%;
    }
    .party{
        position: -webkit-sticky;
        width: 30%;
        font-size: 30%;
        color:black;
        left: 13%;
        top:15%;
    }
    .website{
        position: absolute      ;
        justify-content: flex-end;
        width: 15%;
        height: 45%;
        left: 85%;
        bottom: 9%;
        transform: scale(1);
    }
  }

  @media only screen and (max-width: 352px) {
    .pdf{
        position: absolute;
        left: 70%;
        font-size: 50%;
        width: 30%;
        bottom: 55%;
    }
    .image{
        position: -webkit-sticky;
        width: 20%;
        left: -2%;
        height: 100%;
        text-align: center;
        justify-content: flex-start;
        font-size: 25%;    
    }

    .name{
        position: -webkit-sticky;
        text-align: center;
        justify-content:space-around ;
        font-size: 10%;
        left: 19%;
        width: 50%;
        top:15%;
        
    }
    .party{
        position: -webkit-sticky;
        width: 35%;
        font-size: 30%;
        color:black;
        left: 14%;
        top:15%;
    }
    .secondname{
        font-size: calc(0.5rem + 0.5vw);
        position: -webkit-sticky;
        text-align: center;
        justify-content: center;
        left: 28%;
        top: 30%;
        width: 70%;
    }

    .phone{
        position: -webkit-sticky;
        width: 30%;
        height: 50%;
        font-size: 30%;
        line-height: 150%;
        left: 27%;
        bottom:2%;
        color: #000000; 
    }
    
    .link{
    position: -webkit-sticky;
    width: 42%;
    height: 30%;
    font-size: 5%;
    line-height: 150%;
    left: 56%;
    bottom: 23%;
    color: #000000;
    }
    .website{
        position: absolute      ;
        justify-content: flex-end;
        width: 15%;
        height: 45%;
        left: 85%;
        bottom: 13%;
        transform: scale(0.75);
    }
  }
  @media only screen and (max-width: 345px) {
    .pdf{
        position: absolute;
        left: 10%;
        width: 35%;
        bottom: 45%;
    }
  }
  @media only screen and (max-width: 321px) {
    .pdf{
        position: absolute;
        left: 10%;
        width: 35%;
        bottom: 35%;
    }
  }
  @media only screen and (max-width: 319px) {
    .pdf{
        position: absolute;
        left: 60%;
        bottom: 43%;
        font-size: 50%;
        width: 35%;
       
    }
    .name{
        position: -webkit-sticky;
        text-align: center;
        justify-content:space-around ;
        font-size: 10%;
        left:-3%;
        width: 50%;
        top:-1%;
        
    }
    .party{
        position: -webkit-sticky;
        width: 40%;
        font-size: 30%;
        color:black;
        left: -5%;
        top: -1%;
    }
    .secondname{
        font-size: calc(0.5rem + 0.5vw);
        position: -webkit-sticky;
        text-align: center;
        justify-content: center;
        left: 30%;
        top: 18%;
        width: 50%;
    }
    .phone{
        position: -webkit-sticky;
        width: 30%;
        height: 50%;
        font-size: 30%;
        line-height: 150%;
        left: 28%;
        bottom:2%;
        color: #000000; 
    }
    .link{
        position: -webkit-sticky;
        width: 42%;
        height: 30%;
        font-size: 5%;
        line-height: 150%;
        left: 53%;
        bottom: 23%;
        color: #000000;
        }
    .website{
        position: absolute      ;
        justify-content: flex-end;
        width: 15%;
        height: 50%;
        left: 75%;
        bottom: 13%;
        transform: scale(1);
    }
  }