#results {
    display: flex;
    flex-flow: row wrap;
}

.resultCard {
    width: 90vw;
    margin: auto;
}

.resultCard a {
    color: #36618f;
}

.resultCard img {
    width: 15em;
    height: 18em;
    object-fit: cover;
    object-position: center center;
}

.image{
    position: relative;
    width: 15em;
    height: 100%;
    text-align: center;
    justify-content: flex-start;
    font-size: 100%;
    
}

.party{
    position: absolute;
    width: 400px;
    height: 56px;
    font-size: calc(1.0rem + 1vw);
    color:black;
    margin-left:50%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    top:7%;
}
.name{
    position: absolute;
    text-align: center;
    justify-content:space-around ;
    font-size: 200%;
    left: 25%;
    width: 25%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    bottom: 75%;
    
}
.secondname{
    font-size: calc(1.2rem + 1vw);
    position: absolute;
    text-align: center;
    justify-content: center;
    right: 35%;
    top: 30%;
    width: 50%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.phone{
    position: absolute;
    width: 350px;
    height: 82px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: calc(1.2rem + 1vw);
    line-height: 56px;
    left: 21%;
    bottom: 25%;
    color: #000000; 
}


.link{
    position: absolute;
    width: 50%;
    height: 56px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: calc(1.2rem + 1vw);
    line-height: 56px;
    left: 40%;
    bottom: 33%;
    color: #000000;
}

.website{
    position: absolute;
    justify-content: flex-end;
    width: 3%;
    height: 10%;
    right: 10%;
    bottom: 18%;
    transform: scale(3);
  
}
@media only screen and (max-width: 1500px) {
    .image{
        position: -webkit-sticky;
        width: 20%;
        left: -2%;
        height: 100%;
        text-align: center;
        justify-content: flex-start;
        font-size: 30%;
       
        
    }
    .name{
        position: -webkit-sticky;
        text-align: center;
        justify-content:space-around ;
        font-size: 30%;
        left: 21%;
        width: 50%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        top:15%;
        
    }
    .party{
        position: -webkit-sticky;
        width: 45%;
    
        font-size: 30%;
        color:black;
        left: 8%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        top:5%;
    }
    .secondname{
        font-size: calc(0.5rem + 0.5vw);
        position: -webkit-sticky;
        text-align: center;
        justify-content: center;
        left: 30%;
        top: 30%;
        width: 40%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
    }

    .phone{
        position: -webkit-sticky;
        width: 30%;
        height: 50%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 30%;
        line-height: 150%;
        left: 28%;
        bottom:-5%;
        color: #000000; 
    }
    
    .link{
    position: -webkit-sticky;
    width: 42%;
    height: 30%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    left: 56%;
    bottom: 15%;
    color: #000000;
    }
    .website{
        position: absolute      ;
        justify-content: flex-end;
        width: 15%;
        height: 10%;
        left: 80%;
        bottom: 9%;
        transform: scale(1);
    }
  }