#search-bar {
    width: 90vw;
    margin: 5vh auto;
}

.btn.btn-primary {
    background-color: #36618f;
    border-color: white;
}

#search-results {
    width: 95vw;
    margin: 5vh auto;
}

.repCard img {
    width: 15em;
    height: 18em;
    object-fit: cover;
    object-position: center center;
}